<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "About Me" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>About Me</strong></h1>
        <p class="text-secondary">Sophia Tang, I'm a sophomore from Del Norte High School :)</p>

        <div>
          <p>These are some links to my other academic pages :D</p>
          <a href="https://sophia926.github.io/fastpages/" class="btn btn-primary">My Blog (fastpages)!</a>
          <a href="https://github.com/sophia926/" class="btn btn-primary">My GitHub</a>
        </div>
    </div>

    <p>Here is my schedule again :)</p>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;}
        .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
          font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
        .tg .tg-yf2y{background-color:#F5F5F5;color:#333;text-align:left;vertical-align:top}
        .tg .tg-citn{background-color:#FFF;color:#333;text-align:left;vertical-align:top}
        .tg .tg-0lax{text-align:left;vertical-align:top}
        .tg .tg-c4od{background-color:#FFF;color:#337AB7;text-align:left;vertical-align:top}
        .tg .tg-c1wc{background-color:#F5F5F5;color:#337AB7;text-align:left;vertical-align:top}
        </style>
        <table class="tg">
        <thead>
          <tr>
            <th class="tg-0lax">Period</th>
            <th class="tg-0lax">Class</th>
            <th class="tg-0lax">Room</th>
            <th class="tg-0lax">Teacher</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tg-citn">1</td>
            <td class="tg-citn">AP CALCULUS AB (1)</td>
            <td class="tg-citn">L102</td>
            <td class="tg-c4od"><a href="mailto:%22undefined%22%20%3Ccnydam@powayusd.com%3E?subject=RE:%20Sophia%20H.%20Tang,%20Course%20AP%20CALCULUS%20AB%20(1),%20period%201">Cherie Nydam </a></td>
          </tr>
          <tr>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">2</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">HON HUMANITIES 1</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">G117</span></td>
            <td class="tg-c1wc"><a href="mailto:%22undefined%22%20%3Cjphilyaw@powayusd.com%3E?subject=RE:%20Sophia%20H.%20Tang,%20Course%20HON%20HUMANITIES%201,%20period%202">Jennifer Philyaw </a></td>
          </tr>
          <tr>
            <td class="tg-citn">3</td>
            <td class="tg-citn">AP WORLD HIST (1)</td>
            <td class="tg-citn">L114</td>
            <td class="tg-c4od"><a href="mailto:%22undefined%22%20%3Cmvolger@powayusd.com%3E?subject=RE:%20Sophia%20H.%20Tang,%20Course%20AP%20WORLD%20HIST%20(1),%20period%203">Megan Volger </a></td>
          </tr>
          <tr>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">4</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">AP CS PRINCIPLES (1)</span></td>
            <td class="tg-yf2y"><span style="background-color:#F5F5F5">D103</span></td>
            <td class="tg-c1wc"><a href="mailto:%22undefined%22%20%3Csyeung@powayusd.com%3E?subject=RE:%20Sophia%20H.%20Tang,%20Course%20AP%20CS%20PRINCIPLES%20(1),%20period%204">Sean Yeung </a></td>
          </tr>
          <tr>
            <td class="tg-citn">5</td>
            <td class="tg-citn">AP CHEMISTRY (3)</td>
            <td class="tg-citn">K104</td>
            <td class="tg-c4od"><a href="mailto:%22undefined%22%20%3Cacallicott@powayusd.com%3E?subject=RE:%20Sophia%20H.%20Tang,%20Course%20AP%20CHEMISTRY%20(3),%20period%205">Andrea Callicott </a></td>
          </tr>
        </tbody>
        </table>




{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
