{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Sophia Tang</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/flowermoon.jpg') }}" alt="flowermoon">
                    <div class="card-body">
                    <h5 class="card-title">Who is <mark>Sophia Tang</mark>?</h5>
                    <p class="card-text">
                        <ul>
                            <li>I am a sophomore at Del Norte High School! I live in 4s ranch in San Diego, CA.</li>
                            <li>Classes I am taking: AP Calc AB, Honors Humanities, AP World History, AP CSP, AP Chem, AP Chinese</li>
                            <li>I love reading, talking to family and friends, playing piano, and listening to music!</li>
                            <li>My favorite color is pink, especially pastel pink. I like pastel colors.</li>
                        </ul>
                    </p>
                    <a href="https://sophia926.github.io/fastpages/" class="btn btn-primary">Click to see my blog!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/chinesecuisine.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What are Sophia's <mark>Favorite Foods</mark>?</h5>
                    <p class="card-text">
                        <ul>
                            <li>Chinese cuisine, such as noodles, bao zi, dumplings, etc.</li>
                            <li>Avocado toast with tomatoes, fried egg, and some other veggies</li>
                            <li>Not really so much Italian food (pasta is sometimes too cheesy)</li>
                            <li>Vietnamese Pho!</li>
                        </ul>
                    </p>
                    <a href="https://www.tasteofhunan.com/" class="btn btn-primary">Click to see my favorite restaurant!</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/schedule.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">What is Sophia's <mark>schedule</mark> at school?</h5>
                    <p class="card-text">
                        <table>
                            <thead>
                              <tr>
                                <th>Period</th>
                                <th>Course Title</th>
                                <th>Room Name</th>
                                <th>Teacher</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>AP Calculus AB</td>
                                <td>L102</td>
                                <td>Ms. Nydam</td>
                              </tr>
                              <tr>
                                <td>2</td>
                                <td>Honors Humanities</td>
                                <td>G117</td>
                                <td>Mrs. Philyaw</td>
                              </tr>
                              <tr>
                                <td>3</td>
                                <td>AP World History 1</td>
                                <td>L114</td>
                                <td>Ms. Volger</td>
                              </tr>
                              <tr>
                                <td>4</td>
                                <td>AP CS Principles 1</td>
                                <td>D103</td>
                                <td>Mr. Yeung</td>
                              </tr>
                              <tr>
                                <td>5</td>
                                <td>AP Chemistry 4</td>
                                <td>K104</td>
                                <td>Mrs. Callicott</td>
                              </tr>
                            </tbody>
                            </table>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}